# reference
# https://www.home-assistant.io/integrations/sensor.mqtt/
# device classes: https://www.home-assistant.io/integrations/sensor/#device-class
# State template: https://forum.hacf.fr/t/unites-de-mesure/64577/8


sensor:
  - default_entity_id: sensor.linky_power
    unique_id: linky-instant-power
    device:
      identifiers: Linky
      name: Linky-Meeter
      model: Linky French Home Meeter
      model_id: linky-v3
    state_class: measurement
    device_class: apparent_power
    unit_of_measurement: kVA
    state_topic: linky/instant-power
    value_template: "{{ value_json.data.SINSTS | float / 1000 }}"
    enabled_by_default: true

  - default_entity_id: sensor.linky_current
    unique_id: linky-instant-current
    device:
      identifiers: Linky
      name: Linky-Meeter
      model: Linky French Home Meeter
      model_id: linky-v3
    state_class: measurement
    device_class: current
    unit_of_measurement: A
    state_topic: linky/instant-current
    value_template:  "{{ value_json.data.IRMS1 }}"
    enabled_by_default: true

  - default_entity_id: sensor.linky_voltage
    unique_id: linky-instant-voltage
    device:
      identifiers: Linky
      name: Linky-Meeter
      model: Linky French Home Meeter
      model_id: linky-v3
    state_class: measurement
    unit_of_measurement: V
    device_class: voltage
    state_topic: linky/instant-voltage
    value_template: "{{ value_json.data.URMS1 }}"
    enabled_by_default: true

  - default_entity_id: sensor.linky_energy
    unique_id: linky-instant-energy
    device:
      identifiers: Linky
      name: Linky-Meeter
      model: Linky French Home Meeter
      model_id: linky-v3
    state_class: measurement
    state_class: total_increasing
    unit_of_measurement: kWh
    device_class: energy
    state_topic: linky/energy-counter
    value_template: "{{ value_json.data.EAST | float / 1000 }}"
    enabled_by_default: true